.techstack {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.techstack .stack {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1px);
  height: 110px;
  width: 110px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  font-weight: 600;
}
.techstack img {
  height: 50px;
  width: 50px;
}
.techstack .stack:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 1);
  color: black;
}

@media screen and (max-width: 425px) {
  .techstack {
    width: 70vw;
  }
}
